<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smartbeans.portal.member.login.mapper.MemberLoginMapper">


<!--    &lt;!&ndash;회원 로그인 resultMap&ndash;&gt;-->
<!--    <resultMap id="MemberLoginVO" type="smartbeans.portal.member.login.service.MemberVO">-->
<!--        <id property="mbrId" column="mbr_id" />-->
<!--        <result property="userId" column="user_id" />-->
<!--        <result property="password" column="password" />-->
<!--        <result property="userNm" column="user_nm" />-->
<!--        <result property="email" column="email" />-->
<!--        <result property="telno" column="telno" />-->
<!--        <result property="birthday" column="birthday" />-->
<!--        <result property="addr" column="addr" />-->
<!--        <result property="mbrFrstRegistDtm" column="mbr_frst_regist_dtm" />-->
<!--        <result property="mbrStatus" column="mbr_status" />-->
<!--        <result property="mbrLastUpdtDtm" column="mbr_last_updt_dtm" />-->
<!--        <result property="userType" column="mbr_add_yn" />-->
<!--    </resultMap>-->



    <!-- 일반 로그인 -->
    <select id="actionLogin" resultType="smartbeans.portal.member.login.service.MemberVO">
        SELECT *
        FROM tb_member
        WHERE user_id = #{userId}
          AND password  = #{password}
          AND mbr_status = 'Y'
    </select>

</mapper>