@charset "UTF-8";
/* header */
#header {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #D0D5DD;
}
#header .menubar {
  position: relative;
  min-width: 360px;
  width: 100%;
  min-height: 96px;
  text-align: center;
  z-index: 999;
  border-bottom: 1px solid #D0D5DD;
  transition: height 0.2s, background-color 0.2s;
  background-color: #fff;
}
#header .menubar::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 96px;
  width: 100%;
  height: 1px;
  background-color: #D0D5DD;
}
#header .menubar.active {
  /*mouse event*/
  border-bottom: 1px solid #D0D5DD;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.16);
}
#header .menubar .menuWrap {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 96px;
}
#header .menubar .menuWrap .logo {
  position: absolute;
  top: 15px;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}
#header .menubar .menuWrap .logo a {
  display: block;
}
#header .menubar .menuWrap .logo a img {
  width: 286px;
}
#header .menubar .menuWrap .user {
  position: absolute;
  top: 20px;
  right: -80px;
}
#header .menubar .menuWrap .user > a {
  display: grid;
  justify-items: center;
}
#header .menubar .menuWrap .user > a span {
  font-size: 14px;
}

/*	nav gnb	*/
#gnb {
  position: relative;
  width: 100%;
  height: 96px;
}
#gnb ul li a { /*주메뉴*/
  font-size: 18px;
  text-decoration: none;
}
#gnb ul li .menu_admin { /*주메뉴-관리자*/
  color: #396AFF;
}
#gnb ul li .subMenu {
  position: absolute;
  opacity: 0;
  display: none;
  text-align: center;
  transition: opacity 0.3s;
  margin: 20px 0 0;
  gap: 19px;
}
#gnb ul li .subMenu li a { /*서브메뉴*/
  font-weight: 600;
  font-size: 18px;
  color: #101828;
}
#gnb ul li .subMenu.admin .sub_admin { /*서브메뉴-관리자*/
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}
#gnb ul li .subMenu.admin li .menuList {
  margin: 12px 0 0 0;
  width: 132px;
  display: grid;
  gap: 10px;
}
#gnb ul li .subMenu.admin li .menuList li:first-child {
  margin: 14px 0 0;
}
#gnb ul li .subMenu.admin li .menuList li a {
  font-size: 16px;
  font-weight: 500;
  color: #667085;
  border: none;
}
#gnb ul li .subMenu.admin li .menuList li a:hover {
  color: #396AFF;
}
#gnb ul li .subMenu.active {
  opacity: 1;
  display: grid;
}
#gnb > ul {
  height: 96px;
}
#gnb > ul > li {
  display: inline-block;
  position: relative;
  height: 96px;
}
#gnb > ul > li:first-child { /*주메뉴*/
  margin-left: 286px;
}
#gnb > ul > li:hover > a::after {
  transform: scaleX(1);
}
#gnb > ul > li > a {
  display: block;
  position: relative;
  margin: 0 44px;
  line-height: 96px;
  height: 96px;
  font-size: 18px;
  font-weight: 700;
  color: #101828;
}
#gnb > ul > li > a::after {
  display: block;
  content: "";
  margin-top: -2px;
  margin-left: 2px;
  border-bottom: solid 3px #396AFF;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#footer {
  width: 100%;
  /*background-color: #E4E7EC; 푸터배경*/
  height: 101px;
  transform: inherit;
  position: relative;
  /* transform: translateY(-100%); */
}
#footer .wrap {
  margin: 0 auto;
  width: 380px;
  display: grid;
  gap: 13px;
  color: #73767F;
}
#footer .wrap > div {
  margin: 18px 0 0;
  display: flex;
  gap: 10px;
  font-size: 13px;
}
#footer .wrap > div address {
  font-style: normal;
  line-height: 20px;
}
#footer .wrap p {
  font-size: 12px;
}

/* container */
#container {
  margin: 0 auto;
  max-width: 1400px;
  height: auto;
  /*height: calc(100% - 222px);*/
}

/* breadCrum */
.breadCrumb {
  margin: 24px 0 0;
}
.breadCrumb ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}
.breadCrumb ul li {
  position: relative;
  display: inline;
  font-size: 16px;
}
.breadCrumb ul li + li:before {
  position: absolute;
  top: 2px;
  left: -26px;
  color: #101828;
  content: url("/images/chevron-right.svg");
}
.breadCrumb ul li a:hover {
  color: #396AFF;
}

/* wrapper */
.wrapper {
  margin: 20px 0 0;
  display: grid;
  gap: 50px;
  grid-template-columns: 270px 1fr;
}
.wrapper .lnb h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 6px 0 0;
}
.wrapper .lnb .lnbList {
  width: 270px;
}
.wrapper .lnb .lnbList > ul {
  margin: 22px 0 0;
  border-top: 2px solid #101828;
}
.wrapper .lnb .lnbList > ul > li {
  position: relative;
}
.wrapper .lnb .lnbList > ul > li > a {
  display: block;
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .lnb .lnbList > ul > li:first-child {
  margin-top: 0;
}
.wrapper .lnb .lnbList > ul > li::after {
  position: absolute;
  right: 20px;
  top: 20px;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #667085;
  border-right: 2px solid #667085;
  transform: rotate(135deg); /* 각도 135 > 315*/
  transition: all ease 0.2s;
}
.wrapper .lnb .lnbList > ul > li.active::after {
  transform: rotate(315deg);
}
.wrapper .lnb .lnbList > ul > li:last-child::after {
  display: none;
}
.wrapper .lnb .lnbList ul ul {
  display: none;
}
.wrapper .lnb .lnbList ul .lnbCnt {
  padding: 13px 0 13px 26px;
  position: relative;
}
.wrapper .lnb .lnbList ul .lnbCnt a {
  font-size: 18px;
  font-weight: 400;
  color: #667085;
}
.wrapper .lnb .lnbList ul .lnbCnt a:hover {
  color: #396AFF;
}
.wrapper .lnb .lnbList ul .lnbCnt a:hover::before {
  background-color: #396AFF;
}
.wrapper .lnb .lnbList ul .lnbCnt a::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 21px;
  width: 6px;
  height: 6px;
  background-color: #667085;
  border-radius: 50%;
}
.wrapper .contents {
  width: 100%;
}
.wrapper .contents h2 {
  text-align: left;
  font-size: 34px;
  font-weight: 500;
}
.wrapper .contents .inner {
  margin: 20px 0 0;
}

/*게시글 등록페이지*/


/* inputWrap은 모든 입력 필드를 감싸는 컨테이너 */
.inputWrap {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-top: 2px solid black;
}

/* gridWrap은 각 입력 필드를 담는 그리드 구조 */
.gridWrap > div {
  display: flex; /* flexbox 레이아웃을 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 15px; /* 각 입력 필드 간격 */
}

.gridWrap span {
  flex: 0 0 100px; /* 라벨의 너비 고정 */
  margin-right: 10px; /* 라벨과 입력 필드 사이의 간격 */
}
.gridWrap input[type="text"],
.gridWrap textarea {
  flex: 1; /* 남은 공간을 모두 채움 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


/* '파일첨부' 영역의 스타일링 */
.file-upload {
  padding: 10px 0;
}

/* 파일 선택 텍스트 필드 스타일링 */
.upload-name {
  margin-right: 10px; /* 오른쪽 여백 추가 */
  cursor: default; /* 마우스 오버 시 커서 변경 */
}

/* 파일 선택 버튼 스타일링 */
.paperClip {
  opacity: 1; /* 투명도 조정 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  /* 추가적인 스타일링 */
}

/* 파일 삭제 버튼 스타일링 */
.deleteBtn {
  visibility: visible; /* 버튼을 보이게 설정 */
  margin-left: 10px; /* 왼쪽 여백 추가 */
  /* 추가적인 스타일링 */
}

/* 파일 선택 영역의 전반적인 레이아웃을 정렬하기 위한 스타일 */
.file-upload {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
}

/*!* 숨겨진 파일 입력 필드 스타일 (필요한 경우) *!*/
/*.upload-hidden {*/
/*  display: none; !* 실제 파일 필드 숨김 *!*/
/*}*/


/* checkbox 커스텀 */
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  /*background: url("/images/btn_checkbox.svg"); 경로 수정중*/
  background: url("../../../images/images/btn_checkbox.svg");
  background-size: contain;
  cursor: pointer;
}
input[type=checkbox]:checked + label {
  background: url("../../../images/images/btn_checkbox_selected.svg");
  background-size: contain;
}

/* basic table */
table {
  margin: 20px 0 0 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 2px solid #101828;
}
table thead tr {
  font-weight: 500;
  vertical-align: middle;
  font-size: 14px;
  line-height: 58px;
  border: none;
}
table thead tr:last-child td {
  border-bottom: none;
}
table thead tr th {
  border-collapse: collapse;
  border-bottom: 1px solid #d0d5dd;
  font-weight: 700;
}
table tbody {
  display: table-row-group;
  border-collapse: collapse;
  vertical-align: middle;
  border-bottom: 1px solid #d0d5dd;
}
table tbody tr {
  height: 58px;
}
table tbody tr:hover {
  background-color: #f9fafb;
}
table tbody tr td {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d0d5dd;
  box-sizing: border-box;
  word-break: break-all;
  line-height: normal;
}
table tbody tr td a {
  display: block;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 25px;
}
.pagination li {
  height: 36px;
}
.pagination li a {
  width: 36px;
  height: 36px;
  color: #7E84A3;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  display: block;
}
.pagination li.on a {
  color: #101828;
  background-color: #E4E7EC;
  border-radius: 4px;
}
.pagination li button[type=button] {
  background-size: contain;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.pagination li button[type=button].btnPrevend {
  background: url("/images/btn_prevend.svg");
}
.pagination li button[type=button].btnPrev {
  background: url("/images/btn_prev.svg");
}
.pagination li button[type=button].btnNext {
  background: url("/images/btn_next.svg");
}
.pagination li button[type=button].btnNextEnd {
  background: url("/images/btn_nextend.svg");
}

/* button 커스텀*/
.btnArea {
  margin: 40px 0 0;
}
.btnArea ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btnArea ul li {
  display: inline-block;
  width: 149px;
}

button[type=button].dark {
  height: 48px;
  max-width: 149px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #101828;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */