<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smartbeans.portal.main.menu.mapper.MenuMapper">
    <select id="selectMenuList" resultType="smartbeans.portal.main.menu.service.MenuVO">
        SELECT * FROM tb_menu WHERE
        <if test="no != null">
            #{no} > CAST(menu_id AS integer)
        </if>
        OR
        <if test="no != null">
            #{no} > CAST(menu_parent_id AS integer)
        </if>
    </select>
    <select id="selectMenuListWithAdmin" resultType="smartbeans.portal.main.menu.service.MenuVO">
        SELECT * FROM tb_menu
    </select>
</mapper>
