<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smartbeans.portal.main.menu.mapper.MenuMapper">
    <select id="selectMenuList" parameterType="smartbeans.portal.main.menu.service.MenuVO" resultType="smartbeans.portal.main.menu.service.MenuVO">
        SELECT * FROM tb_menu
    </select>
</mapper>
